.gradient2 {
  background-image: linear-gradient(
    60deg,
    #4aa5fb 10%,
    #1ccafa 50%,
    #00e1f9 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}
.gradient2:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 12px;
}
